# Provider: mock | ollama | openai | gemini | deepseek
LLM_PROVIDER_ANALYZER=gemini
LLM_PROVIDER_EXPLAINER=gemini
LLM_PROVIDER_TRANSLATOR=gemini
LLM_PROVIDER_TEXT_GENERATOR=gemini

# gemini-3.5-flash
# gemini-3.1-flash-lite
GEMINI_API_KEY=your_key_here
GEMINI_MODEL=gemini-3.1-flash-lite

# deepseek-v4-flash/deepseek-chat
# deepseek-v4-pro
DEEPSEEK_API_KEY=your_key_here
DEEPSEEK_MODEL=deepseek-chat

# Langfuse
LANGFUSE_PUBLIC_KEY=your_public_key_here
LANGFUSE_SECRET_KEY=your_secret_key_here
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# Ollama model
# qwen2.5
# okamototk/gemma-2-llama-swallow:9b
# qwen3
OLLAMA_MODEL=okamototk/gemma-2-llama-swallow:9b

# openai not tested yet
OPENAI_API_KEY=your_key_here
OPENAI_MODEL=gpt-4o-mini

